body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.expertise-container {
  background-color: #59437a;
  min-height: 90vh;
}

.my-skills {
  font-family: 'Raleway', sans-serif;
  color: #d8c8f2;
}

.expertise {
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.skills-paragraph {
  font-size: 20px;
}

.skills-paragraph, .skills {
  color: #d8c8f2;
}

.skills {
  font-size: 20px
}

.contact-container {
  background-color: #e73085;
  min-height: 842px;
}

.contact-title {
  color: #a37fdf;
  font-size: 60px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

.input-field, .message {
  outline: none;
  font-family: 'Raleway', sans-serif;
}

.message {
  height: 8rem;
}

.button {
  background-color: #59437a;
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 2.5rem;
}

.contact-paragraph {
  color: #59437a;
}